.contain-moto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #babfd2;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  margin-top: 200px;
  margin-bottom: 80px;;
}
  
form {
  display: flex;
  flex-direction: column;
  padding: auto;
  padding-top: 0px;
}
  
label {
  margin-bottom: 10px;
  color: #060020;
  margin-left: 20px;
}
  
button {
  padding: 10px 20px;
  background-color: #0f014d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
  
button:hover {
  background-color: #21204a;
}