.body__contentcriarconta {
    display: flex;
    flex-direction: row;
    min-height: 50%;
    max-height: 90%;
    min-width: 50%;
    max-width: 80%; 
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0px 20px 30px 10px; 
    background-color: #e7e7e7;
}

.body__contentcriarconta .body__contentcriarconta--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 10px 100px 40px;
}

.body__contentcriarconta .body__contentcriarconta--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-top: 30px;
    padding:10px 60px 10px;
    background-color: #babfd2;
}

.containercriarconta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
}

.wrappercriarconta {
    max-width: 300px;  
}

.columncriarconta {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex: 1;
}

.rowcriarconta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

form {
    padding-bottom: 30px;
}

span {
    font-weight: bold;
    font-size: 35px;
    color: #0f0050;
}