body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Para ocupar a altura total da tela */
  margin: 0;
  background-color: #e7e7e7; /* Cor de fundo da página */
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Centraliza os elementos horizontalmente */
  justify-content: space-around; /* Centraliza os elementos verticalmente */
  background-color: #babfd2;
  padding:30px 60px 10px 60px;
  margin-top: 30px;
  flex: 1;
  border-radius: 20px;
}

.disabled-link {
  text-align: center;
  color: gray;
}

.disabled-text {
  font-size: 12px;
  color: #808080; /* Cinza */
}
.menu-item {
  flex: 1;
  margin-right: 60px;
  margin-left: 60px;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  background-color: #e7e7e7;
}

.menu-link {
  font-family: 'Open Sans', sans-serif; /* Usando a fonte Open Sans */
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  width: 100%;
  margin: 10px 0px;
  color: #100f1d; /* Alterando a cor do texto para branco */
  text-decoration: none; /* Remover sublinhado padrão */
}

.menu-link:hover {
  text-decoration: underline; /* Adicionar sublinhado ao passar o mouse */
}
