.acompanhante-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #060021;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #babfd2;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  margin: 20px auto 0; 
}

.date-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #7c90d8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 100%;
  margin: 350px auto 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

label {
  margin-bottom: 10px;
  color: #060020;
}

button {
  padding: 10px 20px;
  background-color: #0f014d;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #21204a;
}

